
<% content_for :heading do %>
  <i class='fal fa-th-list text-primary'></i>  技能分类
<% end %>



<div class="row">

  <div class="col-sm-12">

    <div class="card mb-g">


      <div class="form-group card-header bg-white">
        <div class="row no-gutters align-items-center">
          <div class="col">
          </div>
          <div class="col"></div>
          <div class="col d-flex">
            <div class="input-group">
              <input type="text" id="search" class="form-control shadow-inset-2" placeholder="">
              <div class="input-group-append">
                <button id="searchbtn" class="btn btn-primary btn-icon waves-effect waves-themed"><i class="fal fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
        <!--        <div class="input-group">-->
        <!--          <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon5">-->
        <!--          <div class="input-group-append">-->
        <!--            <button class="btn btn-primary" type="button" id="button-addon5"><i class="fal fa-search"></i></button>-->
        <!--          </div>-->
        <!--        </div>-->
      </div>
      <div class="card-body">




        <div class="frame-wrap p-0 border-0 m-0">

          <table class="table m-0 table-bordered table-hover table-striped" id="table-example">

            <thead>
            <tr>
              <th>技能</th>
              <th>关键字</th>
              <th width="180px">操作</th>
            </tr>
            </thead>
            <tbody>
            <% @skillclas.each do |skillcla| %>
              <tr>
                <td><%= skillcla.name %></td>
                <td><%= skillcla.keyword %></td>
                <td style="padding: 5px;" align="center">
                  <%= link_to  edit_skillcla_path(skillcla), class:'btn btn-info btn-sm waves-effect waves-themed' do %>
                    <span class="fal fa-edit mr-1"></span> 编辑
                  <% end %>
                  <%= link_to  skillcla, class:'btn btn-danger btn-sm waves-effect waves-themed', method: :delete, data: { confirm: '确认删除?' } do %>
                    <span class="fal fa-times mr-1"></span> 删除
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>

          </table>

          <div class="frame-wrap mt-3">
            <%= paginate @skillclas %>

            <%= link_to '新增', new_skillcla_path, class:'btn btn-primary waves-effect waves-themed float-right', 'data-turbolinks':"false"%>
          </div>


        </div>

      </div>

    </div>

  </div>

</div>



<% content_for :scripts_block do %>

  <script>

      (function ($) {
          $.getUrlParam = function (name) {
              var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
              var r = window.location.search.substr(1).match(reg);
              if (r != null) return unescape(r[2]); return null;
          }
      })(jQuery);

      $('input:checkbox').change(function(){
          if($(this).is(":checked")) {
              $('#table-example').addClass( $(this).attr("data-class") );
          } else {
              $('#table-example').removeClass( $(this).attr("data-class") );
          }
      });

      $('#searchbtn').click(function(){
         var url = window.location.href = window.location.href.split('?')[0];
         if($.getUrlParam('page')){
             url += '?page=' + $.getUrlParam('page');
         }else{
             url += '?page=1'
         }
         if($('#search').val()){
             url += '&searchkey=' + encodeURI(encodeURI($('#search').val()));
         }
         window.location.href = url;
      });

      if($.getUrlParam('searchkey')){
          $('#search').val(decodeURI($.getUrlParam('searchkey')));
      }

  </script>

<% end %>
