
<% content_for :heading do %>
  <i class='fal fa-th-list text-primary'></i>  城市列表
<% end %>



<div class="row">

  <div class="col-sm-12">

    <div class="card mb-g">


      <div class="form-group card-header bg-white">
        <div class="row no-gutters align-items-center">
          <div class="col">
          </div>
          <div class="col"></div>
          <div class="col d-flex">
            <div class="input-group">
              <input type="text" id="search" class="form-control shadow-inset-2" placeholder="">
              <div class="input-group-append">
                <button id="searchbtn" class="btn btn-primary btn-icon waves-effect waves-themed"><i class="fal fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
        <!--        <div class="input-group">-->
        <!--          <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon5">-->
        <!--          <div class="input-group-append">-->
        <!--            <button class="btn btn-primary" type="button" id="button-addon5"><i class="fal fa-search"></i></button>-->
        <!--          </div>-->
        <!--        </div>-->
      </div>
      <div class="card-body">




        <div class="frame-wrap p-0 border-0 m-0">

          <table class="table m-0 table-bordered table-hover table-striped" id="table-example">

            <thead>
            <tr>
              <th>城市名称</th>
              <th>城市编码</th>
              <th>区域编码</th>
              <th>经度</th>
              <th>纬度</th>
              <th>简拼</th>
              <th>全拼</th>
            </tr>
            </thead>
            <tbody>
            <% @citycodes.each do |citycode| %>
              <tr>
                <td>
                  <%= citycode.name %>
                </td>
                <td>
                  <%= citycode.citycode %>
                </td>
                <td>
                  <%= citycode.adcode %>
                </td>
                <td>
                  <%= citycode.lng %>
                </td>
                <td>
                  <%= citycode.lat %>
                </td>
                <td>
                  <%= citycode.pinyin %>
                </td>
                <td>
                  <%= citycode.fullpinyin %>
                </td>
              </tr>
            <% end %>
            </tbody>

          </table>

          <div class="frame-wrap mt-3">

              <table width="100%">
                <tr>
                  <td width="30%" class="color-primary-500">
                    <span>共计<%= @citycount %>个城市</span>
                  </td>
                  <td width="70%">
                    <%= paginate @citycodes, left: 3, right: 3%>
                  </td>
                </tr>
              </table>

            <%= link_to '重新获取', new_citycode_path, class:'btn btn-primary waves-effect waves-themed float-right',data: { confirm: '重新获取城市将删除现有城市' }, 'data-turbolinks':"false"%>
          </div>


        </div>

      </div>

    </div>

  </div>

</div>



<% content_for :scripts_block do %>

  <script>

      (function ($) {
          $.getUrlParam = function (name) {
              var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
              var r = window.location.search.substr(1).match(reg);
              if (r != null) return unescape(r[2]); return null;
          }
      })(jQuery);

      $('input:checkbox').change(function(){
          if($(this).is(":checked")) {
              $('#table-example').addClass( $(this).attr("data-class") );
          } else {
              $('#table-example').removeClass( $(this).attr("data-class") );
          }
      });

      $('#searchbtn').click(function(){
          var url = window.location.href = window.location.href.split('?')[0];
          if($.getUrlParam('page')){
              url += '?page=1';
          }else{
              url += '?page=1';
          }
          if($('#search').val()){
              url += '&searchkey=' + encodeURI(encodeURI($('#search').val()));
          }
          window.location.href = url;
      });

      if($.getUrlParam('searchkey')){
          $('#search').val(decodeURI($.getUrlParam('searchkey')));
      }

  </script>

<% end %>
