<!DOCTYPE html>
<%= render 'shared/copyright_header' %>
<html lang="en">
<head>
  <%= render 'shared/head' %>

  <%# Optional: page related CSS %>
  <%= yield :head_block %>
</head>
<body class="<%= yield(:preemptiveclass) %> mod-bg-1">

<%# save-settings-script %>
<%= render 'shared/scripts_loading_saving' %>

<!-- BEGIN Page Wrapper -->
<div class="page-wrapper">

  <div class="page-inner">

    <% if Rails.configuration.app_sidebar %>
      <%= render 'shared/left_panel' %>
    <% end %>

    <div class="page-content-wrapper">

      <% if Rails.configuration.app_header %>
        <!-- BEGIN Page Header -->
        <%= render 'shared/page_header' %>
        <!-- END Page Header -->
      <% end %>

      <!-- BEGIN Page Content -->
      <!-- the #js-page-content id is needed for some plugins to initialize -->
      <main id="js-page-content" role="main" class="page-content">
        <% if content_for?(:preemptiveclass) %>
          <!-- Page heading removed for composed layout -->
        <% else %>
          <%= render 'shared/page_breadcrumb' %>
          <%= render 'shared/page_heading' %>
        <% end %>
        <%= yield %>
      </main>
      <%= render 'shared/page_content_overlay' %>

      <!-- END Page Content -->

      <% if Rails.configuration.app_footer %>
        <!-- BEGIN Page Footer -->
        <%= render 'shared/page_footer' %>
        <!-- END Page Footer -->
      <% end %>

      <!-- BEGIN Shortcuts -->
      <%= render 'shared/shortcut_modal' %>
      <!-- END Shortcuts -->

    </div>

  </div>

</div>
<!-- END Page Wrapper -->

<% if Rails.configuration.shortcut_menu %>
  <!-- BEGIN Quick Menu -->
  <%= render 'shared/shortcut_menu' %>
  <!-- END Quick Menu -->
<% end %>


<% if Rails.configuration.chat_interface %>
  <!-- BEGIN Messenger -->
  <%= render 'shared/shortcut_messenger' %>
  <!-- END Messenger -->
<% end %>

<% if Rails.configuration.layout_settings %>
  <!-- BEGIN Page Settings -->
  <%= render 'shared/page_settings' %>
  <!-- END Page Settings -->
<% end %>

<%= render 'shared/scripts_base_plugins' %>
<%# Custom scripts per page can be added. %>
<%= yield :scripts_block %>
</body>
</html>
